$baseColor: #fff;
$baseFontSize: 14px;

// layout 左侧菜单宽度
$baseMenuWidth: 260px;

// layout 左侧菜单背景颜色
$baseMenuBackground: #001529;

// layout 左侧菜单最小宽度
$baseMenuMinWidth: 50px;

// layout 顶部导航的高度
$baseTabberHeight: 50px;

// layout 左侧菜单logo高度的设置
$baseMenuLogoHeight: 40px;

// layout 左侧菜单logo右侧文字大小
$baseMenuLogoTitleFontSize: 20px;
